{% extends 'base.html' %}
{% load static%}

{% block content %}
{{block.super}}
    <title> {{ title }} </title>
    <div class="container-fluid">


    <div class="landing">

        <div class="landing-page">
            <div class="cover">
            <div class="title">
                    <h2>PROPERTIES FOR RENT OR BUY</h2>
                    <p>Want to rent a house or buy? Book a viewing now</p>
                </div>


                <nav class="categories">
                  <div class="nav nav-tabs nav-justified category" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link cat active" id="all-listings-tab" data-toggle="tab" href="#all-listings" role="tab" aria-controls="all-listings" aria-selected="true">All Listings</a>
                <a class="nav-item nav-link cat" id="apartments-tab" data-toggle="tab" href="#apartments" role="tab" aria-controls="apartments" aria-selected="false">Apartments</a>
                    <a class="nav-item nav-link cat" id="bangalows-tab" data-toggle="tab" href="#bangalows" role="tab" aria-controls="bangalows" aria-selected="false">Bungalows</a>
                    <a class="nav-item nav-link cat" id="massionette-tab" data-toggle="tab" href="#massionette" role="tab" aria-controls="massionette" aria-selected="false">Massionettes</a>
                  </div>
                </nav>
            </div>
        </div>
    </div>
  
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="all-listings" role="tabpanel" aria-labelledby="all-listings">

            <div class="container content">
                <div class="row">
                   <h3 class="property">Featured Listings</h3>
                   {% if listings%}
                   <div class="container-fluid">
                       <div class="row">
                       {% for list in listings %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if list.featured_pic_path %}
                                                   <img class="card-img-top" src="{{list.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{list.little}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{list.location}}</p>
                                               <p class="metadata">Priced at AED {{list.pricing}}</p>
                                               <p> <small class="text-muted">{{list.category}} | {{list.bedrooms}}</small></p>
                                               <a href="" class= "btn btn-primary btn-sm">View Details</a>
                                               <p class="metadata">Posted on {{list.timeslot.date}}</p>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="apartments" role="tabpanel" aria-labelledby="apartments">

            <div class="container content">
               <div class="row">
                   <h3 class="property">Featured Apartments</h3>
                   {% if apartments %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for apartment in apartments %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if apartment.featured_pic_path %}
                                                   <img class="card-img-top" src="{{apartment.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{apartment.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{apartment.location}}</p>
                                               <p class="metadata">Priced at AED {{apartment.pricing}}</p>
                                               <p> <small class="text-muted">{{apartment.category}} | {{apartment.bedrooms}}</small></p>
                                               <a href="" class= "btn btn-primary btn-sm">View Details</a>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                    
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="bangalows" role="tabpanel" aria-labelledby="bangalows">

            <div class="container content">
               <div class="row">
                   <h3 class="property">Featured Bungalows</h3>
                   {% if bungalows%}
                   <div class="container-fluid">
                       <div class="row">
                       {% for bungalow in bungalows %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if bungalow.featured_pic_path %}
                                                   <img class="card-img-top" src="{{bungalow.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{bungalow.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{bungalow.location}}</p>
                                               <p class="metadata">Priced at AED {{bungalow.pricing}}</p>
                                               <p> <small class="text-muted">{{bungalow.category}} | {{bungalow.bedrooms}}</small></p>
                                               <a href="" class= "btn btn-primary btn-sm">View Details</a>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="massionette" role="tabpanel" aria-labelledby="massionette">

            <div class="container content">
               <div class="row">
                   <h3 class="property">Featured Massionettes</h3>
                   {% if massionettes %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for massionette in massionettes %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if massionette.featured_pic_path %}
                                                   <img class="card-img-top" src="{{massionette.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{massionette.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{massionette.location}}</p>
                                               <p class="metadata">Priced at AED {{massionette.pricing}}</p>
                                               <p> <small class="text-muted">{{massionette.category}} | {{massionette.bedrooms}}</small></p>
                                               <a href="" class= "btn btn-primary btn-sm">View Details</a>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
      </div>



</div>

{% endblock %}
