{% extends 'base.html'%}
{% load static %}
{% block styles %}
{{block.super}}
  <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="row about ">
        <div class="col-md-4 picture">
            <!-- Displaying profile photo -->
            {% if profiles.profile_photo%}
                <img src="{{profiles.profile_photo.url }}" alt="" class="img-thumbnail rounded-circle">
            {% else %}
                <img src="{% static "photos/myhouse.png" %}" alt="" class="img-thumbnail rounded-circle">
            {% endif %}


            
            {% if current_profile.user.id == request.user.id%}
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control picture" required >
                <input type="submit" name="submit" value="Upload Picture">
            </form>
            {% endif %}

            <h3 class="user-tag"> {{user.username}}</h3>
            <hr>
            {% if user.bio %}
                <p> {{user.bio}} </p>
            {% else %}
                <p>{{user.username}} has no bio</p>
            {% endif %}
            
            {% if current_profile.user.id == request.user.id%}
            <a href="">Edit Bio</a>
            <br>
            {% endif %}
            <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#bookingModal">View Bookings</button>

                <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
                  <div class="modal-dialog booked" role="document">
                    <div class="modal-content">
                      <div class="modal-header ">
                        <h5 class="modal-title" id="bookingModalLabel">Booked Views</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <table class="table table-striped">
                           <thead>
                               <tr>


                                    <th scope='col'>Name</th>
                                    <th scope='col'>Email</th>
                                    <th scope='col'>Contact</th>
                                    <th scope='col'>Date</th>
                                    <th scope='col'>Start </th>
                                    <th scope='col'>End </th>
                                    <th scope='col'>Listed House</th>
                            </tr>
                           </thead>
                           <tbody>

                               {% if bookings%}
                                {% for booking in bookings%}

                                <tr>
                                    <td>{{booking.name}}</td>
                                    <td>{{booking.email}}</td>
                                    <td>{{booking.contact}}</td>
                                    <td>{{booking.timeslot.date}}</td>
                                    <td>{{booking.timeslot.start_time}}</td>
                                    <td>{{booking.timeslot.end_time}}</td>
                                    <td>{{booking.listing.title}}</td>

                                </tr>


                                {% endfor%}


                               {% else %}
                               Display me
                               {% endif %}




                           </tbody>
                       </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Print Bookings</button>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
        <div class="offset-1 col-md-7  listings">
            {% if listings%}


                <div class="container-fluid">
                    <div class="row">
                    {% for list in listings %}
                    <div class="container-fluid list">
                        <div class="row">

                         
                        <div class="col-md-4">
                            {% if list.featured_pic_path %}
                                <img class="card-img-top" src="{{ list.featured_pic_path.url }}" alt="Image of ">
                            {% else %}
                                <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                            {% endif %}
                            
                        </div>
                        <div class="col-md-8">



                        <h4 class="card-title">{{list.title}}</h4>
                        <hr>
                        <p class="metadata">Located in {{list.location}} <small class="text-muted">{{list.category}} | {{list.bedrooms}}</small></p>



                    </div>
                    </div>
                    </div>

                    {% endfor %}
                    </div>
                </div>
                {% else %}
                Display me
                {% endif %}
        </div>
        
    </div>
    
</div>
<div class="card-footer">
    <!-- <p class="container__terms d-flex justify-content-center ">By signin up, you agree to our <br> <strong>Terms & Privacy Policy.</strong></p> -->
        <p class="container__terms d-flex justify-content-center "> <small>&copy; <i style="color:blue"> RentorBuy.com</i> 2020 <br> <strong>Terms & Privacy Policy. </small> </strong></p>
  </div>

{% endblock %}