{% extends 'base.html' %}
{% load static%}

{% block content %}
{{block.super}}
    <title> {{ title }} </title>
    <div class="container-fluid">


    <div class="landing">

        <div class="landing-page">
            <div class="cover">
            <div class="title">
                    <h2>PROPERTIES FOR RENT OR BUY</h2>
                    <p>Want to rent a house or buy? Book a viewing now</p>
                </div>


                <nav class="categories">
                  <div class="nav nav-tabs nav-justified category" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link cat active" id="all-listings-tab" data-toggle="tab" href="#all-listings" role="tab" aria-controls="all-listings" aria-selected="true">All Listings</a>
                    <a class="nav-item nav-link cat" id="apartments-tab" data-toggle="tab" href="#apartments" role="tab" aria-controls="apartments" aria-selected="false">Apartments</a>
                    <a class="nav-item nav-link cat" id="bungalows-tab" data-toggle="tab" href="#bungalows" role="tab" aria-controls="bungalows" aria-selected="false">Bungalows</a>
                    <a class="nav-item nav-link cat" id="mansionattes-tab" data-toggle="tab" href="#mansionattes" role="tab" aria-controls="mansionattes" aria-selected="false">Mansionattes</a>
                  </div>
                </nav>
            </div>
        </div>
    </div>
  
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="all-listings" role="tabpanel" aria-labelledby="all-listings">

            <div class="container content">
                <div class="row">
                   <h4 class="property" style="color:blue"> <b> Featured Listings </b></h4>
                   {% if listings%}
                   <div class="container-fluid">
                       <div class="row">
                       {% for list in listings %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if list.featured_pic_path %}
                                                   <img class="card-img-top" src="{{list.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{list.little}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{list.location}}</p>
                                               <p class="metadata">Priced at AED {{list.pricing}}</p>
                                               <p> <small class="text-muted">{{list.category}} | {{list.bedrooms}}</small></p>
                                               <a href="{% url 'single_listing' list.id %}" class= "btn btn-primary btn-sm">View Details</a>

                                               <hr>
                                               <p class="metadata mb-0 mt-0"> <p> <small>Posted on {{list.date}}</small> <br> <i>  <small> <b>by  {{list.user.username}} </b></small> </i></p>
                                        
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="apartments" role="tabpanel" aria-labelledby="apartments">

            <div class="container content">
               <div class="row">
                   <h4 class="property" style="color:blue"> <b> Featured Apartments </b></h4>
                   {% if apartments %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for apartment in apartments %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if apartment.featured_pic_path %}
                                                   <img class="card-img-top" src="{{apartment.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{apartment.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{apartment.location}}</p>
                                               <p class="metadata">Priced at AED {{apartment.pricing}}</p>
                                               <p> <small class="text-muted">{{apartment.category}} | {{apartment.bedrooms}}</small></p>
                                               <a href="{% url 'single_listing' apartment.id %}" class= "btn btn-primary btn-sm">View Details</a>
                                               <p class="metadata mt-3"> <small> Posted on {{apartment.date}}</small></p>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                    
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="bungalows" role="tabpanel" aria-labelledby="bungalows">

            <div class="container content">
               <div class="row">
                   <h4 class="property" style="color:blue"> <b> Featured Bungalows </b></h4>
                   {% if bungalows %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for bungalow in bungalows %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if bungalow.featured_pic_path %}
                                                   <img class="card-img-top" src="{{bungalow.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{bungalow.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{bungalow.location}}</p>
                                               <p class="metadata">Priced at AED {{bungalow.pricing}}</p>
                                               <p> <small class="text-muted">{{bungalow.category}} | {{bungalow.bedrooms}}</small></p>
                                               <a href="{% url 'single_listing' bungalow.id %}" class= "btn btn-primary btn-sm">View Details</a>
                                               <p class="metadata mt-3"> <small> Posted on {{bungalow.date}} </small></p>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
        <div class="tab-pane fade" id="mansionattes" role="tabpanel" aria-labelledby="mansionattes">

            <div class="container content">
               <div class="row">
                   <h4 class="property" style="color:blue"> <b> Featured  Mansionattes </b></h4>
                   {% if mansionattes %}
                   <div class="container-fluid">
                       <div class="row">
                       {% for mansionatte in mansionattes %}
                                   <div class="col-sm-6 col-md-4">
                                       <div class="card article">
                                           <a href="#" target="_blank">
               
               
                                               {% if mansionatte.featured_pic_path %}
                                                   <img class="card-img-top" src="{{mansionatte.featured_pic_path.url}}" alt="Image of" style="height:220px">
                                               {% else %}
                                                   <img src="{% static "photos/myhouse.png" %}" alt="" class="card-img-top" style="height:220px">
                                               {% endif %}
                                           </a>
                                           <div class="card-body">
                                               <h4 class="card-title">{{mansionatte.title}}</h4>
                                               <hr>
                                               <p class="metadata">Located in {{mansionatte.location}}</p>
                                               <p class="metadata">Priced at AED {{mansionatte.pricing}}</p>
                                               <p> <small class="text-muted">{{mansionatte.category}} | {{mansionatte.bedrooms}}</small></p>
                                               <a href="{% url 'single_listing' mansionatte.id %}" class= "btn btn-primary btn-sm">View Details</a>
                                               <p class="metadata mt-3"> <small> Posted on {{mansionatte.date}}</small></p>
                                           </div>
                                       </div>
                                   </div>
                       {% endfor %}
                       </div>
                   </div>
                   {% else %}
                   Display me
                   {% endif %}

                     
               </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <!-- <p class="container__terms d-flex justify-content-center ">By signin up, you agree to our <br> <strong>Terms & Privacy Policy.</strong></p> -->
            <p class="container__terms d-flex justify-content-center "> <small>&copy; <i style="color:blue"> RentorBuy.com</i> 2020 <br> <strong>Terms & Privacy Policy. </small> </strong></p>
      </div>

</div>

{% endblock %}
