{% extends 'base.html' %}
{% load bootstrap4%} 
{% load static%}

<!-- Content block -->


{% block content %}


<div class="top mt-5">


<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 blog-form">
                    <h3>List a Rental</h3>

                    <form action="{%url 'listing_form'%}" method="post" enctype="multipart/form-data">
                        <hr>
                        {%csrf_token%}
                         {% bootstrap_form form %}
                         <div class="form-group"></div>
                        <input type="submit" class="btn btn-primary" value="Post">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                        <!-- <input type="date" id = "party-date"
                        name="party-date" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00"/><br>
                        <label for="party-time">start</label>

                        <input type="time" id="party-time"
                        name="party-time" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00" />

                        <label for="party-time2">stop</label>
                        <input type="time" id="party-time2"
                        name="party-time2" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00" /> -->

                    </form>

                    {% block scripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    {% bootstrap_javascript %} {% endblock %}
                  

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>

{% endblock%}
