
{% extends 'base.html'%}
{% block navbar %}

    {% include 'navbar.html' %}

{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="card details-card">
                <h1 class="text-center">Add Listing Details</h1>
                <hr>
                <h4>Image</h4>
                    {% if listing.featured_pic_path %}
                    <img src="{{listing.featured_pic_path.url}}" alt="" height="200" style="width: 40%;">
                    {% endif %}

                    <form action="" id="image-form" method="post" enctype="multipart/form-data">
                        <input type="file" name="photo" class="form-control picture" required >
                        <input type="submit" name="submit" class="btn btn-info-outline" value="Upload Picture">
                    </form>
                <h4>Timeslots</h4>
                <form action="" method="post">
                    <label for="party-time" class="time">Date</label>
                    <input type="date" id = "party-date"
                    name="party_date" value="2018-06-12T19:30"
                    min="2018-06-07T00:00" max="2018-06-14T00:00"/><br>
                    <label for="party-time" class="time">Start Time</label>
                    <input type="time" id="party-time"
                    name="party_time" value="2018-06-12T19:30"
                    min="2018-06-07T00:00" max="2018-06-14T00:00" />
                    <label for="party-time2" class="time">Stop Time</label>
                    <input type="time" id="party-time2"
                    name="party_time2" value="2018-06-12T19:30"
                    min="2018-06-07T00:00" max="2018-06-14T00:00" />
                    <hr>
                    {{wtf.quick_form(form)}}
                </form>
                    <a class="btn btn-info" href="" style="width:10%; margin-top:10px">Done</a>
            </div>
        </div>
    </div>


<!-- <div class="top">

</div>
<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 blog-form">
                    <h3>Add Timeslots</h3>

                    <form action="{{ url_for('main.listing_times', listing_id = listing.id)}}" method="post">
                        <label for="party-time" class="time">Date</label>
                        <input type="date" id = "party-date"
                        name="party-date" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00"/><br>
                        <label for="party-time" class="time">Start Time</label>
                        <input type="time" id="party-time"
                        name="party-time" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00" />
                        <label for="party-time2" class="time">Stop Time</label>
                        <input type="time" id="party-time2"
                        name="party-time2" value="2018-06-12T19:30"
                        min="2018-06-07T00:00" max="2018-06-14T00:00" />
                        <hr>
                        {{wtf.quick_form(list_form)}}
                    </form>

                    <div class="">

                        {% if listing.featured_pic_path %}
                        <img src="{{url_for('static',filename = listing.featured_pic_path)}}" alt="" class="img-thumbnail rounded-circle">
                        {% else %}

                        none
                        {% endif %}



                        <form action="{{url_for('main.listing_times',listing_id=listing.id)}}" method="post" enctype="multipart/form-data">
                            <input type="file" name="photo" class="form-control picture" required >
                            <input type="submit" name="submit" value="Upload Picture">
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> -->

{% endblock%}
