{% load static%}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top opaque-navbar">
    <div class="container">
      <a class="navbar-brand mr-4 brand" href="/">House Hunt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">

        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">

            <ul class="nav navbar-nav navbar-right">
               {% if user.is_authenticated %}
               <a class="nav-item nav-link brand" href="/"><i class="fas fa-home"></i>  Home</a>

              <li><a class="nav-item nav-link brand" href="{% url 'profile' user.id %}"><i class="fas fa-user"></i>  Profile</a></li>
              <a class="nav-item nav-link brand" href="/accounts/logout"><i class="fas fa-sign-out-alt"></i>  Sign out</a>
              <a class="nav-item nav-link brand" href="/new/listing"><i class="fas fa-plus"></i>  Add Listing</a>

               {% else %}
               <a class="nav-item nav-link brand" href="/"><i class="fas fa-home"></i> Home</a>

               <li><a class="nav-item nav-link brand" href="/accounts/login"><i class="fas fa-sign-in-alt"></i>  Login</a></li>
                <li><a class="nav-item nav-link brand" href="/signup/"><i class="fas fa-registered"></i> Register</a><li>
               {%endif%}
             </ul>
             {% block scripts %} 
           <script type="text/javascript" src="{%static 'js/navbar.js'%}"></script>
          {% endblock %}

        </div>
      </div>
    </div>
  </nav>
</header>
  